Repository launchdarkly/ld-vscode: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

minimum_pre_commit_version: '2.9.3'

repos:
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.5
    hooks:
      - id: shellcheck
        types: [shell]
        exclude: '^vendor/'
        additional_dependencies: []

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-merge-conflict
      - id: check-json
        exclude: "(\\.vscode/launch.json|\\.vscode/tasks.json)"
      - id: check-symlinks
      - id: check-yaml
      - id: end-of-file-fixer
      - id: no-commit-to-branch
      - id: trailing-whitespace
        exclude: 'test/__snapshots__/providers.test.js.snap'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: yarn prettier:write
        types_or: [javascript, ts, tsx, json, css, markdown, yaml]
        language: system

      - id: eslint
        name: eslint
        entry: yarn lint:fix
        types_or: [javascript, ts, tsx]
        language: system
        pass_filenames: false

Update README.md
  README.md
Due: prettier

Update src/utils/contextYAML.ts
  src/utils/contextYAML.ts
Due: prettier, eslint

Update src/utils/rulesYaml.ts
  src/utils/rulesYaml.ts
Due: prettier, eslint

Update test/flagLens.test.ts
  test/flagLens.test.ts
Due: prettier, eslint

Remove unneeded files
  .prettierignore
  media/configuresettings.md
Due: prettier

prettier fixes
  src/utils/rulesYaml.ts
Due: prettier, eslint

replace more string parts with consts
  src/api.ts
  src/commands/openLaunchDarkly.ts
  src/configurationMenu.ts
  src/createFlagMenu.ts
  src/extension.ts
  src/flagStore.ts
  src/generalUtils.ts
  src/ldExtensionConfiguration.ts
  src/models.ts
  src/providers/authProvider.ts
  src/providers/codeRefs.ts
  src/providers/completion.ts
  src/providers/flagListView.ts
  src/providers/flagsView.ts
  src/utils/constants.ts
  test/providers.test.ts
Due: prettier, eslint

remove OAuth strings
  src/commands/configureLaunchDarklyEnvironment.ts
  src/providers/authProvider.ts
Due: prettier, eslint

Update src/commands/configureLaunchDarklyEnvironment.ts
  src/commands/configureLaunchDarklyEnvironment.ts
Due: prettier, eslint

update string to const
  src/commands/configureLaunchDarklyEnvironment.ts
Due: prettier, eslint

updated axios, added log out functionality
  package-lock.json
  package.json
  src/api.ts
  src/extension.ts
  src/flagStore.ts
  src/generalUtils.ts
  src/providers/authProvider.ts
  src/utils/commands.ts
  yarn.lock
Due: prettier, eslint

updated sign in logic to handle empty string, reload extension to clear session
  src/api.ts
  src/extension.ts
  src/flagStore.ts
  src/generalUtils.ts
  src/providers/authProvider.ts
Due: prettier, eslint

update readme
  README.md
Due: prettier

updated error handling for login failure. Added log out option in tree headers. updated broken links
  package.json
  src/api.ts
  src/extension.ts
  src/flagStore.ts
  src/generalUtils.ts
  src/ldExtensionConfiguration.ts
  src/models.ts
  src/providers.ts
  src/providers/authProvider.ts
  src/providers/flagsView.ts
  src/providers/quickLinksView.ts
  src/utils/commands.ts
Due: prettier, eslint

changes
  src/extension.ts
  src/generalUtils.ts
  src/providers.ts
  src/providers/flagsView.ts
  src/providers/quickLinksView.ts
Due: prettier, eslint

remove unused import and ppackage lock
  package-lock.json
  src/api.ts
Due: prettier, eslint

update gh actions versions
  .github/workflows/main.yml
Due: prettier

update workflow
  .github/workflows/main.yml
Due: prettier

fix for build fail
  .github/workflows/main.yml
  package.json
Due: prettier

prettier
  src/commands/evaluateFlag.ts
  src/providers/flagsView.ts
Due: prettier, eslint

linter fix
  src/providers.ts
Due: prettier, eslint

remove yarn lock
  yarn.lock
Due: none

update gitignore
  .gitignore
Due: none

add back yarn.lock
  .gitignore
  yarn.lock
Due: none

PR feedback: readme, removed corepack,,updated actions to use sha, added comment to exported function
  .github/workflows/main.yml
  .yarnrc.yml
  README.md
  package.json
  src/generalUtils.ts
  src/providers.ts
  src/utils/commands.ts
  tsconfig.json
  yarn.lock
Due: prettier, eslint

resolve minimatch to node18 compatible version
  package.json
  yarn.lock
Due: prettier

update node version in gh action to currently supported version
  .github/workflows/main.yml
  package.json
  yarn.lock
Due: prettier

upgrade gh actions versions for release workflow
  .github/workflows/release.yml
Due: prettier

updated version and added changelog notes
  CHANGELOG.md
  package.json
Due: prettier

inital merge
  package.json
  src/FlagCodeLens.ts
  src/commands/chooseFlag.ts
  src/commands/debugFlag.ts
  src/commands/flagActions.ts
  src/commands/flagVariable.ts
  src/commands/shortcutsQuickPick.ts
  src/configuration.ts
  src/createFlagMenu.ts
  src/prompts/flagExample.ts
  src/prompts/flagNamingConvention.ts
  src/prompts/flagSummaryInstructions.ts
  src/prompts/flagSummaryInstructionsAssistantResponse.ts
  src/providers/FlagList.ts
  src/providers/copilot.ts
  src/providers/copilotResolver.ts
  src/providers/flagCleanupEditorLens.ts
  src/providers/ldFileSystemProvider.ts
  src/utils/checkCopilotInstalled.ts
  src/utils/commandIDs.ts
  src/utils/configFile.ts
  src/utils/debugger.ts
  src/utils/flagsQuickPick.ts
  src/utils/hasDependentFlags.ts
  src/utils/isFlagReadyForCleanup.ts
  src/utils/isReleasedInPipeline.ts
  src/utils/isStableInCriticalEnvs.ts
  src/utils/resourceName.ts
  src/utils/yamlReader.ts
  src/vscode.proposed.chat.d.ts
  src/vscode.proposed.chatParticipant.d.ts
  src/vscode.proposed.chatTab.d.ts
  src/vscode.proposed.chatVariableResolver.d.ts
  src/vscode.proposed.languageModels.d.ts
  yarn.lock
Due: prettier, eslint

errors from merge resolved
  src/api.ts
  src/commands/configureLaunchDarkly.ts
  src/commands/setWorkspaceEnabled.ts
  src/flagStore.ts
  src/generalUtils.ts
  src/ldExtensionConfiguration.ts
  src/models.ts
  src/providers/releaseViewProvider.ts
  src/utils/commands.ts
  src/utils/common.ts
  src/utils/hover.ts
  test/providers.test.ts
Due: prettier, eslint

merged with code from private repo
  src/generalUtils.ts
  src/providers/copilot.ts
  src/providers/quickLinksView.ts
Due: prettier, eslint

updated arguments for flag toggle context command
  src/commands/toggleFlagContext.ts
  src/flagStore.ts
  src/providers/copilot.ts
  src/providers/hover.ts
  src/providers/quickLinksView.ts
Due: prettier, eslint
