Repository launchdarkly/ld-vscode: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: yarn prettier:write
  language: system

eslint:
  name: eslint
  entry: yarn lint:fix
  language: system
  pass_filenames: false

limit error to console
  src/flagStore.ts
Due: prettier, eslint

console log negative lens
  src/providers/flagLens.ts
Due: prettier, eslint

fix for lens
  src/providers/flagLens.ts
Due: prettier, eslint

add flags per file
  package.json
  src/providers.ts
  src/providers/flagsView.ts
Due: prettier, eslint

add missing provider
  src/providers/flagListView.ts
Due: prettier, eslint

clear map on each file
  src/providers/flagListView.ts
Due: prettier, eslint

return early if no editor or document
  src/providers/flagListView.ts
Due: prettier, eslint

increase disconnect timeout
  src/flagStore.ts
  src/providers/flagListView.ts
Due: prettier, eslint

only show command on lines
  package.json
  src/providers.ts
  src/providers/codeRefs.ts
  src/providers/flagListView.ts
Due: prettier, eslint

add code lens description
  package.json
Due: prettier

work on clientside warning
  package.json
  src/api.ts
  src/flagStore.ts
  src/providers.ts
  src/providers/flagLens.ts
  yarn.lock
Due: prettier, eslint

missing file
  src/providers/diagnostics.ts
Due: prettier, eslint

merge debugger
  .vscode/tasks.json
  package.json
  src/api.ts
  src/coderefs/codeRefsDownloader.ts
  src/configuration.ts
  src/configurationMenu.ts
  src/flagStore.ts
  src/models.ts
  src/providers.ts
  src/providers/codeRefs.ts
  test/index.ts
  test/providers.test.ts
  tsconfig.json
  webpack.config.js
  yarn.lock
Due: prettier, eslint

cleanup
  src/api.ts
  src/providers/diagnostics.ts
  yarn.lock
Due: prettier, eslint

do not refresh diagnostics on all files
  src/providers/diagnostics.ts
  src/providers/flagListView.ts
Due: prettier, eslint

fix diagnostics running on all files
  src/providers/diagnostics.ts
Due: prettier, eslint

remove pick storage option from clear overrides
  src/configurationMenu.ts
Due: prettier, eslint

Fix error configuring api token
  src/api.ts
  src/configurationMenu.ts
Due: prettier, eslint

bump coderefs version
  src/coderefs/codeRefsVersion.ts
Due: prettier, eslint

basic flag in file support without requiring codelens
  package.json
  src/providers/flagLens.ts
  src/providers/flagListView.ts
Due: prettier, eslint

minor fixes for code refs download
  src/coderefs/codeRefsDownloader.ts
  src/providers/diagnostics.ts
  src/providers/flagListView.ts
  src/providers/hover.ts
Due: prettier, eslint

add basic metric explorer
  .vscode/tasks.json
  build/prepare-beta.js
  package.json
  src/api.ts
  src/coderefs/codeRefsDownloader.ts
  src/models.ts
  src/providers.ts
  src/providers/metricsView.ts
Due: prettier, eslint

update glob dep
  package.json
  src/providers/metricsView.ts
  yarn.lock
Due: prettier, eslint

fix code refs download for axios
  src/coderefs/codeRefsDownloader.ts
  src/extension.ts
Due: prettier, eslint

add logo
  .vscode/launch.json
  package.json
  resources/logo.svg
  src/providers.ts
  src/providers/flagsView.ts
  src/providers/quickLinksView.ts
Due: prettier, eslint

update eslint
  package.json
Due: prettier

remove spaces/tab mix
  package.json
Due: prettier

nvm version file
  .nvmrc
  yarn.lock
Due: none

configure eslint compatibility with prettier
  .eslintrc
  package.json
  src/coderefs/codeRefsDownloader.ts
  src/configuration.ts
  src/configurationMenu.ts
  src/extension.ts
  src/flagStore.ts
  src/multiStepInput.ts
  src/providers.ts
  src/providers/codeRefs.ts
  src/providers/diagnostics.ts
  src/providers/flagLens.ts
  src/providers/flagListView.ts
  src/providers/flagsView.ts
  src/providers/hover.ts
  src/providers/metricsView.ts
  src/providers/quickLinksView.ts
  yarn.lock
Due: prettier, eslint

fix comparison open
  src/providers/flagsView.ts
  src/providers/quickLinksView.ts
Due: prettier, eslint

refactoring for cleaner separation
  src/commands/clearGlobalContext.ts
  src/commands/configureLaunchDarkly.ts
  src/flagStore.ts
  src/providers.ts
  src/providers/flagLens.ts
  src/providers/flagListView.ts
  src/providers/flagsView.ts
  src/providers/hover.ts
  src/providers/metricsView.ts
  src/providers/quickLinksView.ts
  src/utils.ts
  tsconfig.json
Due: prettier, eslint

remove sdk key
  src/flagStore.ts
Due: prettier, eslint

remove additional console debugging
  src/providers/flagsView.ts
Due: prettier, eslint

update MultiStepInput from upstream
  package.json
  src/api.ts
  src/commands/createFlag.ts
  src/createFlagMenu.ts
  src/multiStepInput.ts
  src/providers.ts
Due: prettier, eslint

lint fixes
  src/api.ts
  src/commands/configureLaunchDarkly.ts
  src/commands/createFlag.ts
  src/createFlagMenu.ts
  src/multiStepInput.ts
  src/providers.ts
  src/providers/diagnostics.ts
  src/providers/flagsView.ts
  src/providers/metricsView.ts
  src/providers/quickLinksView.ts
Due: prettier, eslint

rename createView to be clearer
  CODEOWNERS
  src/commands/configureLaunchDarkly.ts
  src/configuration.ts
  src/providers.ts
  src/providers/hover.ts
  src/utils.ts
Due: prettier, eslint

test commit for xvfb
  .circleci/config.yml
Due: prettier

more testing changes
  .circleci/config.yml
Due: prettier

remove quotes
  .circleci/config.yml
Due: prettier

test updates
  .circleci/config.yml
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  eslint: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
