Repository launchdarkly/ld-vscode: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

minimum_pre_commit_version: '2.9.3'

repos:
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.5
    hooks:
      - id: shellcheck
        types: [shell]
        exclude: '^vendor/'
        additional_dependencies: []

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-merge-conflict
      - id: check-json
        exclude: "(\\.vscode/launch.json|\\.vscode/tasks.json)"
      - id: check-symlinks
      - id: check-yaml
      - id: end-of-file-fixer
      - id: no-commit-to-branch
      - id: trailing-whitespace
        exclude: 'test/__snapshots__/providers.test.js.snap'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: yarn prettier:write
        types_or: [javascript, ts, tsx, json, css, markdown, yaml]
        language: system

      - id: eslint
        name: eslint
        entry: yarn lint:fix
        types_or: [javascript, ts, tsx]
        language: system
        pass_filenames: false

Update SECURITY.md to reflect bug bounty program
  SECURITY.md
Due: prettier

fix: remediate high & critical Dependabot vulnerabilities
  package.json
  yarn.lock
Due: prettier

fix: revert minimatch 9.x update (brace-expansion 5.x incompatibility)
  yarn.lock
Due: none

fix: remove brace-expansion resolution that broke ESM imports
  package.json
  yarn.lock
Due: prettier

Replace team-fm-foundations with team-foundation in CODEOWNERS
  CODEOWNERS
Due: none

Bump extension REST client LD-API-Version to 20240415
  src/api.ts
Due: prettier, eslint

Release prep: bump to 6.2.1 with LD-API-Version fix changelog
  CHANGELOG.md
  package.json
Due: prettier

fix: bump vulnerable npm dependencies (axios, form-data, tar, brace-expansion, js-yaml, fast-uri, ip-address, qs, browserslist, @xmldom/xmldom, baseline-browser-mapping)
  package.json
  yarn.lock
Due: prettier

fix!: override transitive uuid 8.3.2 -> 11.1.1 under istanbul-lib-processinfo (GHSA-w5hq-g745-h8pq)
  package.json
  yarn.lock
Due: prettier

fix(codeRefs): replace exec() with execFile() to prevent command injection
  CHANGELOG.md
  package.json
  src/models.ts
  src/providers/codeRefs.ts
Due: prettier, eslint

fix(codeRefs): skip Code References in untrusted workspaces
  CHANGELOG.md
  src/providers/codeRefs.ts
Due: prettier, eslint

fix(codeRefs): start Code References when workspace trust is granted
  src/generalUtils.ts
Due: prettier, eslint

fix(codeRefs): drop untrustedWorkspaces declaration, keep execFile fix
  CHANGELOG.md
  package.json
  src/generalUtils.ts
  src/providers/codeRefs.ts
Due: prettier, eslint
