Repository launchdarkly/ld-vscode: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

minimum_pre_commit_version: '2.9.3'

repos:
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.5
    hooks:
      - id: shellcheck
        types: [shell]
        exclude: '^vendor/'
        additional_dependencies: []

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-merge-conflict
      - id: check-json
        exclude: "(\\.vscode/launch.json|\\.vscode/tasks.json)"
      - id: check-symlinks
      - id: check-yaml
      - id: end-of-file-fixer
      - id: no-commit-to-branch
      - id: trailing-whitespace
        exclude: 'test/__snapshots__/providers.test.js.snap'

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: yarn prettier:write
        types_or: [javascript, ts, tsx, json, css, markdown, yaml]
        language: system

      - id: eslint
        name: eslint
        entry: yarn lint:fix
        types_or: [javascript, ts, tsx]
        language: system
        pass_filenames: false

Bumping versions to catch up with published version.
  CHANGELOG.md
  package.json
Due: prettier

Changing codeowner for hand-off
  CODEOWNERS
Due: none

feat: add out-of-the-box EU option for easy configuration
  CHANGELOG.md
  README.md
  package.json
  src/providers/authProvider.ts
Due: prettier, eslint

chore: run npm run prettier:write
  src/providers/authProvider.ts
Due: prettier, eslint

chore: update CI to not try to publish unless a version changed
  .github/workflows/release.yml
Due: prettier

chore: add SECURITY.md
  SECURITY.md
Due: prettier

feat: add simple dev server connect/disconnect commands
  package.json
  src/commands/connectDevServer.ts
  src/configuration.ts
  src/devServerStatusBar.ts
  src/extension.ts
  src/flagStore.ts
  src/models.ts
  src/utils/commands.ts
  yarn.lock
Due: prettier, eslint

feat: show dev-server values when connected
  src/commands/connectDevServer.ts
  src/devServerApi.ts
  src/providers/flagsView.ts
Due: prettier, eslint

feat: surface overrides
  src/commands/connectDevServer.ts
  src/devServerApi.ts
  src/extension.ts
  src/ldExtensionConfiguration.ts
  src/models.ts
  src/providers/devServerProvider.ts
  src/providers/flagsView.ts
Due: prettier, eslint

feat: add persistent connection between sessions
  src/commands/connectDevServer.ts
  src/configuration.ts
  src/extension.ts
  src/models.ts
Due: prettier, eslint

feat: set, edit, remove overrides for flags
  package.json
  src/commands/flagActions.ts
  src/devServerApi.ts
  src/models.ts
  src/providers/devServerProvider.ts
  src/providers/flagsView.ts
  src/utils/commands.ts
  src/utils/smartOverrideInput.ts
Due: prettier, eslint

test: add tests
  test/devServer.test.ts
  test/smartOverrideInput.test.ts
Due: prettier, eslint

feat: expand functionality
  src/commands/connectDevServer.ts
  src/configuration.ts
  src/devServerStatusBar.ts
  src/generalUtils.ts
  src/providers/flagLens.ts
Due: prettier, eslint

refactor: remove edit command
  package.json
  src/commands/flagActions.ts
  src/providers/flagsView.ts
  src/utils/commands.ts
Due: prettier, eslint

fix: no custom value for boolean flags
  src/utils/smartOverrideInput.ts
  test/smartOverrideInput.test.ts
Due: prettier, eslint

feat: improve surface area
  src/extension.ts
  src/models.ts
  src/providers/flagsView.ts
  src/providers/hover.ts
  src/utils/hover.ts
  test/devServer.test.ts
  test/providers.test.ts
Due: prettier, eslint

refactor: refresh dev server on streaming change
  src/commands/connectDevServer.ts
  src/providers/devServerProvider.ts
  src/providers/flagsView.ts
  test/devServer.test.ts
Due: prettier, eslint

chore: clean up
  package.json
  src/commands/connectDevServer.ts
  src/commands/devServerOverrides.ts
  src/commands/flagActions.ts
  src/configuration.ts
  src/devServerApi.ts
  src/models.ts
  src/providers/devServerProvider.ts
  src/providers/flagLens.ts
  src/utils/smartOverrideInput.ts
  test/devServer.test.ts
  test/providers.test.ts
  test/smartOverrideInput.test.ts
Due: prettier, eslint

fix: clean up the UX by fixing some small inconsistencies
  src/commands/connectDevServer.ts
  src/configuration.ts
  src/devServerApi.ts
  src/extension.ts
  src/generalUtils.ts
  src/models.ts
  src/providers/flagsView.ts
  test/devServer.test.ts
Due: prettier, eslint

fix: improve UX + error handling/safe-guarding
  src/providers/flagLens.ts
  src/providers/flagsView.ts
Due: prettier, eslint

fix: clean up subscription
  src/generalUtils.ts
Due: prettier, eslint

chore: run npm run perttier:write
  src/commands/connectDevServer.ts
  src/commands/devServerOverrides.ts
  src/commands/flagActions.ts
  src/configuration.ts
  src/devServerApi.ts
  src/extension.ts
  src/generalUtils.ts
  src/models.ts
  src/providers/devServerProvider.ts
  src/providers/flagLens.ts
  src/providers/flagsView.ts
  src/utils/hover.ts
  src/utils/smartOverrideInput.ts
  test/devServer.test.ts
  test/smartOverrideInput.test.ts
Due: prettier, eslint

fix: rev versions to fix security issues
  package.json
  yarn.lock
Due: prettier

Merge pull request #140 from launchdarkly/cspath/REL-11969-update-ci
  .github/workflows/release.yml
Due: prettier

chore: [REL-11971] add SECURITY.md file (#141)
  SECURITY.md
Due: prettier

chore: add CONTRIBUTING.md file
  CONTRIBUTING.md
  README.md
Due: prettier

chore: add dependabot and pr template
  .github/dependabot.yml
  .github/pull_request_template.md
Due: prettier

fix: fix dependabot.yml
  .github/dependabot.yml
Due: prettier

feat: add internal analytics client
  .gitignore
  package.json
  src/analytics.ts
  src/commands/connectDevServer.ts
  src/commands/devServerOverrides.ts
  src/commands/flagActions.ts
  src/extension.ts
  src/types/env.d.ts
  webpack.config.js
  yarn.lock
Due: prettier, eslint

chore: run yarn prettier:write
  src/analytics.ts
  src/commands/flagActions.ts
Due: prettier, eslint

test: add tests
  src/analytics.ts
  test/analytics.test.ts
Due: prettier, eslint

feat: add more analytics
  src/commands/configureLaunchDarkly.ts
  src/commands/createFlag.ts
  src/commands/flagActions.ts
  src/providers/hover.ts
Due: prettier, eslint

feat: update ci/cd to have env vars
  .github/workflows/main.yml
  .github/workflows/release.yml
  src/commands/flagActions.ts
Due: prettier, eslint

feat: add internal analytics client (#147)
  .github/workflows/main.yml
  .github/workflows/release.yml
  .gitignore
  package.json
  src/analytics.ts
  src/commands/configureLaunchDarkly.ts
  src/commands/connectDevServer.ts
  src/commands/createFlag.ts
  src/commands/devServerOverrides.ts
  src/commands/flagActions.ts
  src/extension.ts
  src/providers/hover.ts
  src/types/env.d.ts
  test/analytics.test.ts
  webpack.config.js
  yarn.lock
Due: prettier, eslint

fix: only show dev server commands when connected
  package.json
  src/commands/connectDevServer.ts
  src/extension.ts
Due: prettier, eslint

test: add some tests
  test/devServerCommands.test.ts
Due: prettier, eslint

docs: update docs
  README.md
  test/devServerCommands.test.ts
Due: prettier, eslint

docs: update docs
  README.md
Due: prettier

Update CODEOWNERS: rename team-fm-next to team-fm-foundations
  CODEOWNERS
Due: none

[SEC-7924] chore: pin third-party GitHub Actions to commit SHAs
  .github/workflows/release.yml
Due: prettier
